<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Base package to scan beans -->
	<context:component-scan base-package="com.akifbatur.*" />
	
	<!-- Enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/author**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/writePost**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/editPost**" access="hasRole('ROLE_USER')" />
		<!-- <intercept-url pattern="/**" access="authenticated" /> -->
		
		<!-- access denied page -->
<!-- 		<access-denied-handler error-page="/403" /> -->
		
		<form-login
		    login-page="/login.xhtml"
		    login-processing-url="/login"
		    default-target-url="/index.xhtml"
			authentication-failure-url="/login.xhtml?error=incorrect" 
			username-parameter="userName"
			password-parameter="password"/>
		
		<logout logout-success-url="/"
		invalidate-session="true"
		logout-url="/logout"/>
		
		<!-- enable csrf protection -->
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="loginService" >
			<password-encoder hash="bcrypt" />
			<password-encoder ref="encoder"/>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11"/>
	</beans:bean>
  
</beans:beans>