@font-face {
	font-family: atari;
	src: url('../fonts/atari.ttf');
	font-size: x-small;
}

* {
	font-family: atari;
	color: #00FF00;
	text-decoration: none;
	font-size: x-small;
	background-color: #000000;
}

input[type="text"] {
	font-family: atari;
	font-size: x-small;
}