<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>akif batur - blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../../resources/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../../resources/images/terminal.ico" rel="icon" />
		<script src="../../resources/js/bootstrap.min.js"></script>
		<script src="../../resources/js/jquery-1.11.3.js"></script>
	</head>

	<body>
		<section th:each="post : ${thymeModel.posts}">
			<h1 th:text="${post.id}"></h1>
		</section>
	</body>

</html>